@import url('https://fonts.googleapis.com/css?family=Electrolize|Open+Sans|Jura');
@import "../node_modules/hmc-colours/custom.scss";

$grfont: 'Jura', sans-serif;
$enfont: 'Electrolize', sans-serif;

.navbar-brand{
    font-family: $enfont;
}

h1,h2,h3,h4,h5{
    font-family: $grfont;
}

.panel-title{
    text-align: center;
}

.al{
    text-align: left;
}

.ar{
    text-align: right;
}

.list-group-item{
    text-align: right;
    font-family: $grfont;
    color: $white;
}

.list-group-item:hover{
    color: $yellow;
}

.logo-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 12;
    font-weight: bolder;
    text-align: center;
	color: #fff;
    .main {
        font-family: $enfont;
        font-size: 8em;
        -webkit-text-stroke: 1px darken(white, 40);
    }

    .sub {
        background-color: theme-color('primary');
        font-family: $grfont;
    }
}
